<div id="find-rides">
<p id="heading1">Carpool search</p>


<% t=0 %>
<table class="table-minimal">
        <thead>
          <tr>
            <th>User</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Journey Date</th>
            <th>Available Seats</th>
            <th>Options</th>
          </tr>
        </thead>
<% @carpools.each do |carpool| %>
  <% if carpool.seats.first.seats >  0 %>
    <% carpool.source.first.source %> <!--source -->
    <% carpool.destination.first.destination %> <!--destination -->
    <% distance = ((carpool.source.first.distance_to(carpool.destination.first, :km)).round(2)) %>  <!--distance -->
    <% sDis = ((distance * 0.50)).round(2) %>  <!--sDis -->
    <% dDis = ((distance * 0.50)).round(2) %> <!--dDis -->
    <% source= ((carpool.source.first.distance_to(@source, :km) ).round(2)) %> 
    
    <% dest= ((carpool.destination.first.distance_to(@destination, :km) ).round(2)) %> 
   
    <% if source <= sDis %>
      <% if dest <= dDis %>

      

        <tbody>
          <tr>
            <td><%= link_to "#{carpool.user.username}", carpool.user %> </td>
            <td><%= carpool.source.first.source %> <!--source --></td>
            <td><%= carpool.destination.first.destination %><!--destination --></td>
            <td><%= carpool.journey_date %></td>
            <td><%= carpool.seats.first.seats %></td>
            <td><%= link_to "show", carpool , method: :get ,:class=>" btn btn-blue btn-lg log-btn"%></td>
          </tr>
        </tbody>
     
      <% t=t+1 %>
        <br>
      <% end %>
    <% end %> 
  <% end %>
<% end %>

<% if t==0 %>
  <h3> No results </h3>
<% end %>
 </table>

</div>