
<!--/mobile div for the buttons -->
  <div class="mobile-div">

      <%= link_to new_carpool_path, method: :get do%>
        <i class="fa fa-car btn offer-ride btn-inverse" >Offer Ride</i>
      <% end %>


  </div>
<!--/mobile div for the buttons -->

<!--here Image parallax start -->
  <div id="js-parallax-window" class="parallax-window">

    <div id="js-parallax-background" class="parallax-background" >

      <%= image_tag("parallax.jpg") %>
    </div>
  </div>
<!--image parallax end -->

<!-- search form -->
<div class="find-rides-main">
  <div class="find-rides">
      <%= form_tag(:action => 'find') do %>

        <span id="source-span" class="float_label">
        <%= text_field_tag (:source), nil, :required => true,:placeholder => ""%>
        <label id="find-enter-source">Enter source</label>
        </span>

        <span id="destination-span" class="float_label">
        <%= text_field_tag (:destination), nil, :required => true ,:placeholder => ""%>
        <label id="find-enter-destination">Enter destination</label>
        </span>


       <%= submit_tag "Search", :class=> "btn btn-blue", :id=> "search-button" %>
      <% end %>
  </div>
   <div id="map-canvas2"></div>
</div>
<!--/search form -->

<!-- description start -->
  <article class="type-system-slab test">
    <h2>ShareRide is an online carpooling application in which people can share rides. Our main aim is to allows passengers to travel comfortably and in a secure way while saving costs.
    </h2>
  </article>
<!--/ description start -->

<!-- paralax working start -->
  <div class="content">
       <%= image_tag("how.jpg" ) %>
        <div class="working-pics">
          <div class="row img-row">
            <figure class="columns space"><%= image_tag("1.jpg" ) %></figure>
            <figure class="columns space"><%= image_tag("arrow.png") %></figure>
            <figure class="columns space"><%= image_tag("2.jpg") %></figure>
            <figure class="columns space"><%= image_tag("arrow.png") %></figure>
            <figure class="columns space"><%= image_tag("3.jpg") %></figure>
            <figure class="columns space"><%= image_tag("arrow.png") %></figure>
            <figure class="columns space"><%= image_tag("4.jpg") %></figure>
            <figure class="columns space"><%= image_tag("arrow.png") %></figure>
            <figure class="columns space"><%= image_tag("5.jpg") %></figure>
          </div>
        </div>
  </div>
<!-- paralax working end -->

<div class="ride_testimonial">
<!-- recent rides start-->
    <div class="recent-rides">
    <p class="heading dancing-script">Recent Rides</p>
    <div id="buttons"><%= link_to image_tag("up_arrow.png",:id => "prev1") %> </div> 
      <div id="carousel1">
        <div id="slides1">
          <ul style="margin-top:9px">
             <% if !@carpools.empty? %>
             <% @carpools.each do |c| %>
             <li class="slide1">
              <span class="slide-rides"><% if c.user.picture.url == "blank.png" && c.user.provider=="facebook"%>   
              <%= image_tag "http://graph.facebook.com/#{c.user.uid}/picture?width=100&height=100",:style=> "border-radius:50%;border:5px solid #18BD9D" %>
              <% else %>
                <%= image_tag c.user.picture.url, :style=> "width:75px;height:75px;border-radius:50%;border:5px solid #18BD9D"%>
              <% end %>
              </span>
              <span class="slide-rides">
              <p><span class="" style="color:#18BD9D;">Source</span> <%= c.source.first.source %></p>
              </span>
              <span class="slide-rides">
              <p> <span class="" style="color:#18BD9D;">Destination</span> <%= c.destination.first.destination %></p>
              </span>
              <span class="slide-rides">
              <p><span class="" style="color:#18BD9D;">Date</span><br><%= c.journey_date.strftime("%d, %B, %Y") %> </p>
              </span>
              <span class="slide-rides">
              <p><span class="" style="color:#18BD9D;">Price</span><br> <%= c.price %> ₹ </p>
              </span>
             </li>
             <% end %>  
             <% end %>
          </ul>
        </div>
      </div>
      <div id="buttons"><%= link_to image_tag("down_arrow.png",:id => "next1") %> </div>
    </div>
<!-- testimonial start-->
   <div class="testimonial">
   <p class="heading dancing-script">Testimonials</p>
    <div id="buttons"><%= link_to image_tag("up_arrow.png",:id => "prev2") %> </div>
        <div id="carousel2">
        <div id="slides">
            <ul>
            <% if !@testimonials.empty? %>
            <% @testimonials.each do |t| %>
            <li class="slide">
              <% if t.user.picture.url == "blank.png" && t.user.provider=="facebook"%>   
                  <%= image_tag "http://graph.facebook.com/#{t.user.uid}/picture?width=120&height=120",:style=> "border-radius:50%;border:5px solid #18BD9D" %>
              <% else %>
                <%= image_tag t.user.picture.url, :style=> "width:120px;height:120px;border-radius:50%;border:5px solid #18BD9D"%>
              <% end %>

               <h1 id="name"><%= t.user.username %></h1>
               <p><%= t.message %></p>
            </li>
             <% end %>
             <% end %>
            </ul>
        </div>
        </div>
        <div id="buttons"><%= link_to image_tag("down_arrow.png",:id => "next2") %> </div>
    </div>
</div>
<!-- / testimonial-->
<!-- ride and testimonial -->
