<div class="my-rides">



<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Created Carpools</a>
    <div class="tab-content">
      <table class="tables">
        <thead>
          <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Created</th>
            <th>No. of passengers</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          
          <% @rides.each do |r| %>
        <tr>
        <%= link_to carpool_path(r.id),method: :get do %>
            <td><%= r.source.first.source %></td>
            <td><%= r.destination.first.destination %></td>
            <td><%= r.journey_date.strftime("%d, %B, %Y") %></td>
            <td><%= r.depature_time.strftime("%I:%M %p") %></td>
            <td>created <%= time_ago_in_words(r.updated_at)%> ago</td>
            <% end %>
            <td><%= r.passengers.size %></td>
            <td><%= link_to "edit", edit_carpool_path(r.id) ,:class => "btn btn-blue btn-sm"%><%= link_to "view passengers", carpool_mypassengers_path(r.id) ,:class => "btn btn-yellow btn-sm"%>
                <%= link_to 'Destroy', carpool_path(r.id),
                data: {confirm: "Are you sure?"}, :method => :delete ,:class => "btn btn-red btn-sm" %>       
            </td>
          </tr>
         <% end %>
        </tbody>
      </table>
        
      </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">booked Carpools</a>
    <div class="tab-content">
      <table class="tables">
        <thead>
          <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Owner</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        
          <% @passengers.each do |pas| %>
          <% user = User.find(pas.passenger) %>
          <% carpool = Carpool.find(pas.carpool_id) %>

        <tr>
          <td><%= carpool.source.first.source%></td>
          <td><%= carpool.destination.first.destination%></td>
          <td><%= carpool.journey_date.strftime("%d, %B, %Y") %></td>
          <td><%= carpool.depature_time.strftime("%I:%M %p") %></td>
          <td><%=link_to  "#{user.username}", user_path(pas.passenger) %></td>
          <td><%= link_to "see location", edit_carpool_path(carpool.id) ,:class => "btn btn-blue btn-sm"%>     
          </td>
          </tr>
         <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>
</div>