
<div id="car-show-main">
<p id="heading1">Car information</p>
<span class="add-car-button"> <%= link_to "Add Car", new_car_path ,:id=>"new",:class=>"btn btn-blue btn-lg "%></span>
<br>
<br>
<hr>
<% if !@cars.empty?  %>
	<% @cars.each do |car| %>
		 <% if car.user.id == current_user.id %>
	<div id="show-car">
		<div id="car-show-avatar">
			<div class="car-avatar">
			<%= image_tag car.picture.url(:medium) %>
			</div>
		</div>
		<div id="car-show-info">
			 <span id="car-show-name" class="font1">
			 	<%= link_to "#{car.brand}", car %>
			 </span>
			 <span id="car-show-button">
				 <%= link_to 'edit', edit_car_path(car),method: :get,:class=>"btn btn-blue btn-sm" %>
				 <%= link_to 'delete', car, method: :delete, data: {confirm: "Are you sure?"},:class=>"btn btn-red btn-sm" %>
			 </span>
			
		</div>
	</div>	
 <% end %>
			<% end %>
<% else %>
  <p id="heading1"> No car to display </p> <br>

<% end %>
</div>



