<div id="show-car-details">
	<span id="car-details-img">
		<div class="car-avatar">
		<%= image_tag @car.picture.url(:medium) %>
		</div>
	</span>
	<span id="car-details-main" class="font2">
		Brand : <%= @car.brand %> <br>
		Color : <%= @car.color %> <br>
		Model : <%= @car.model %> <br>
		Seats : <%= @car.seats %> <br>
	</span>
</div>