<!DOCTYPE html>
<html>
<head>
<title>CarpoolApp</title>
<%= Gon::Base.render_data({}) %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>  
 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>-->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<%= yield :head %>
</head>
<body>
<!--
<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>
-->




<!-- Header start -->
<header class="navigation" role="banner">
  <%= link_to image_tag("logo.png",:class => "logo"), root_path, method: :get %>

  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">

 MENU
  </a>
  <nav role="navigation">
    <ul id="js-navigation-menu" class="navigation-menu show">

    <% if user_signed_in? %>
    <li id="offer-ride-desktop" class="nav-link">


      <%= link_to '<i class="fa fa-car"></i> offer ride'.html_safe, new_carpool_path, method: :get , :class=>'btn btn-inverse'%>
    </li>

  <% if current_user.received_messages.unreaded.size > 0 %>
    <li class="nav-link"><%= link_to '<i class="fa fa-envelope" style="color:red"></i>'.html_safe, messages_path,method: :get, class: 'fa-fw fa-2x'%>
     <%= "[#{current_user.messages.unreaded.size}]" %>
    </li>
  <% else %>
<li class="nav-link"><%= link_to '<i class="fa fa-envelope"></i>'.html_safe, messages_path,method: :get, class: 'fa-fw fa-2x'%>
    </li>

   <% end %>








    <li class="drop">
      <div class="dropdown">
        <div class="dropdown-container">
          <a class="dropdown-button">
            <figure class="avatar">
              <div class="avatar_pic">
              <% if current_user.picture.url == "blank.png" && current_user.provider=="facebook"%>
              
               <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?width=150&height=150" %>
              
              <% else %>
              <%= image_tag current_user.picture.url(:medium), :style=>"height: 53px;"%>
              <% end %>
              </div>
            </figure>
          </a>
          <ul class="dropdown-menu dropdown-select transbox">
            <li> <%= link_to "My Account", edit_user_registration_path(current_user), method: :get %> </li>
            <li> <%= link_to "My Cars", cars_path, method: :get %> </li>
            <li><%= link_to "testimonials", testimonials_path, method: :get %> </li>
            <li><%= link_to "My Rides", myrides_path, method: :get %></li>
            <li> <%= link_to "LogOut", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </li>

    <% else %>
    <li class="nav-link link1">
      <label for="modal-1" class="modal-trigger">
      <span class="sign-log" ><%= fa_icon 'user', class: 'fa-fw fa-lg' %>
      <%= link_to "Sign In", new_user_session_path %>
      </span>
      </label>
    </li>
	  <li class="nav-link link1">
      <label for="modal-2" class="modal-trigger">
        <span class="sign-log" ><%= fa_icon 'user-plus',  class: ' fa-fw fa-lg' %>
      <%= link_to "Sign Up", new_user_registration_path %>
        </span>
      </label>
    </li>

    <% end %>
    </ul>
  </nav>

<!--modal start -->
<div class="modal">
	<input class="modal-state" id="modal-1" type="checkbox" />
	 <div class="modal-fade-screen">
	    <div class="modal-inner">
	      <div class="modal-close" for="modal-1"></div>

	      <p class="modal-content">

	      </p>
	    </div>
	</div>
	<input class="modal-state" id="modal-2" type="checkbox" />
	 <div class="modal-fade-screen">
		    <div class="modal-inner">
		      <div class="modal-close" for="modal-2"></div>

		      <p class="modal-content">

		      </p>
		    </div>
	 </div>
</div>
</header>
<div style="height: 6em;"></div>
<!-- Header end -->

<% if notice %>
    <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
    </div>
<% elsif %>
    <div id="notice_wrapper">
    <% if alert %>
        <p class="alert"><%= alert %></p>
    <% end %>
    </div>
<% end %>

<div class= "errors">


</div>

<div id="yield-test">
<%= yield %>
</div>
<!-- footer start-->
<div class="footer-img">
<%= image_tag("img-footer.png", :alt => "rss feed") %>
</div>
<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <!-- <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image"> -->
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>


</footer>
<!-- footer end-->
</body>
</html>
